<!DOCTYPE html>
<HTML lang="en">
<head>
    <title>Health and Wellness</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
</head>    
</HTML>

<body>
    <div class="top box">
        <h1>GYM HUB</h1>
    </div>
    <div class="box 1">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
    <div class="box 2">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
    <div class="bottom box">
    {% if gyms %}
        <h2>Overview:</h2>
        <ul>
            {% for gym in gyms %}
            <li>
                <strong>{{ gym['name'] }}</strong><br>
                <em>{{ gym['muscle'] }}</em><br>
                <em>{{ gym['equipment'] }}</em><br>
                <em>{{ gym['difficulty'] }}</em><br>
            </li>
            {%}
        </ul>
    </div>
</body>