<!DOCTYPE html>
<HTML lang="en">
<head>
    <title>Health and Wellness</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
</head>    
</HTML>

<body>
    <div class="top box">
        <h1>GYM HUB</h1>
    </div>
    <div class="box 1">
        <py-script>
        groups = {"Abdominals", "Abductors", "Adductors", "Biceps", "Calves", "Chest", "Forearms", "Glutes", "Hamstrings", "Lats", "Lower Back", "Middle Back", "Neck", "Quadriceps", "Traps", "Triceps"}
        for group in groups:
        echo ("<span class='dot'>" + group + "</span>")
        </py-script>
    </div>
    <div class="box 2">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
    <div class="bottom box">Bottom Div</div>
</body>