<!DOCTYPE html>
<HTML lang="en">
<head>
    <title>Health and Wellness</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
</head>    
</HTML>

<body>
    <div class="top box">
        <h1>GYM HUB</h1>
    </div>
    <div class="box 1">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
    <div class="box 2">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
    <div class="bottom box">Bottom Div</div>
</body>